.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidebar a:hover {
  color: #f1f1f1;
}
  
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}
  
.openbtn:hover {
  background-color: white;
}

.title {
  font-family: "Century Gothic", Courier, monospace;
  font-size: 20px;
  text-decoration: none;
  display: grid;
  grid-template-columns: min-content auto;
}

  


.about_bg {
  position: relative;
  background-image: url("images/about_bg.jpg");
  background-size: cover;
  height: 50vw;
  background-repeat: no-repeat;
}

.maintext {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Century Gothic';
  font-size: 1.2em;
  color: whitesmoke;
}

.maintext1 {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Century Gothic';
  font-size: 0.9em;
  color: whitesmoke;

}




#legacy {
  height: max-content;
}

.text1 {
  padding: 20px;
  background-color: #191970;
  color: whitesmoke;
  font-size: 0.7em;
}

.titletext1 {
  font-size: x-large;
  color: white;
  height: fit-content;
  width: fit-content;
}

#old_office {
  margin-top: 10px;
  height: 25vh;
  width: 80vw;
}
  



.text2 {
  padding: 20px;
  background-color: #FF8000;
  color: whitesmoke;
  font-size: 0.7em;
}

#bloopound {
  margin-top: 10px;
  height: 30vw;
}

.titletext2 {
  font-size: x-large;
  color: white; 
}




.text3 {
  padding: 20px;
  background-color: #191970;
  color: whitesmoke;
  font-size: 0.7em;
}

.titletext3 {
  font-size: x-large;
  color: white;
}

#ceo {
  margin-top: 10px;
  height: 30vh;
}




.footer-container {
  background-image: url(images/footer_bg.jpg);
  background-position: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.25vw;
  justify-content: center;
}

.fgrid-item {
  color:rgba(35, 81, 180, 1);
  padding: 1vw 2vh;
  font-size: 0.7em;
  text-align: center;
}

#submit_button { 
  background-color: rgba(171, 201, 224, 1);
  opacity: 0.6;
  max-width: 30vw;
  margin-top: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#submit_button:hover {
  opacity: 1;
}







/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
}