body {
  margin: 0px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidebar a:hover {
  color: #f1f1f1;
}
  
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side_nav {
  display: grid; 
  grid-template-columns: min-content auto;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}
  
.openbtn:hover {
  background-color: white;
}

.title {
  font-family: "Century Gothic", Courier, monospace;
  font-size: 1.25em;
  text-decoration: none;
  padding-left: 10px;
}

.top_nav {
  display: none;
}

 


.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/contact.jpg");
  background-position: center;
  background-size: cover;
  height: 40vw;
  position: relative;
}

.bg-text {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
}




.grid {
  display: grid;
  grid-template-columns: 48.5vw 48.5vw;
}

.grid > div {
  text-align: start;
}

.grid-item1 {
  background-image: url("images/phone.png");
  background-position: center;
  background-size: contain;
  padding-top: 3vw;
  background-repeat: no-repeat;
  height: 20vh;
  background-color: teal;
}

.grid-item10 {
  background-color: teal;
  position: relative;
}

.text {
  margin: 0px;
  color: #ffffff;
  font-size: 0.8em;
  font-family: 'Century Gothic';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-item2 {
  background-image: url("images/address.png");
  background-position: center;
  background-size: contain;
  padding-top: 5vw;
  background-repeat: no-repeat;
  height: 30vw;
  background-color: teal;
}

.grid-item20 {
  background-color: teal;
  position: relative;
}

.text1 {
  white-space: pre; 
  line-height: 0.7; 
  margin: 0px;
  color: #ffffff;
  font-size: 0.8em;
  font-family: 'Century Gothic';
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.grid-item3 {
  background-image: url("images/email.png");
  background-position: center;
  background-size: contain;
  padding-top: 1vw;
  padding-bottom: 2vw;
  background-repeat: no-repeat;
  height: 30vw;
  background-color: teal;
}

.grid-item30 {
  background-color: teal;
  position: relative;
}

.grid-item4 {
  grid-column: 1 / 3;
  background-color: teal;
  padding: 2vw;
}

#iframe {
  border: 0;
  width: 100%;
  height: 20vh;
}




.footer-container {
  background: linear-gradient(to bottom right, #006FFF, #00E5E5, #0BFF96);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.25vw;
  justify-content: center;
}

.fgrid-item {
  color:rgba(35, 81, 180, 1);
  padding: 1vw 2vh;
  font-size: 0.7em;
  text-align: center;
}

#email {
  margin-top: 1vh; 
  width: 25vw; 
  height: 1.5vh;
}

#submit_button { 
  font-size: 0.7em;
  background: black;
  border-radius: 10px;
  max-width: 30vw;
  margin-top: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
}







/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
   

body {
  margin: 0px 5vw 0px 5vw;
}
  
.side_nav {
  display: none;
}
   
.top_nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
    
.nav-top {
  height: 20px;
}
    
.nav {
  padding: 10px 0px 10px 0px;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;  
}
  
.title {
  text-decoration: none;
  width: 12vw;
  height: 4vh;
}
    
.nav-right {
  margin-top: 10px;
  float: right;
} 
    
.nav-right a {
  border-right: 1px solid black;
  display: inline;
  text-decoration: none;
  font-weight: lighter;
  max-width: 50px;
  padding: 10px;
  color: black;
}
      
.nav-right a.last {
 border-right: none;
}
      
.nav-bottom {
  height: 20px;
}




.bg {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/contact.jpg");
  background-position: center;
  background-size: cover;
  height: 30vw;
  position: relative;
}

.bg-text {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}




.grid {
  grid-template-columns: 45vw 45vw;
}

.grid-item1 {
  height: 20vh;
}

.grid-item10 {
  width: 43.9vw;
}

.text {
  font-size: 1.6em;
}

.grid-item2 {
  height: 20vh;
  width: 43.9vw;
}

.text1 {
  font-size: 1.6em;
}

.grid-item3 {
  height: 20vh;
}

.grid-item30 {
  width: 43.9vw;
}

.grid-item4 {
  width: 84.9vw;
  padding: 2vw;
}

#iframe {
  height: 50vh;
}




.footer-container {
  grid-gap: 0.5vw;
}
  
.fgrid-item {
  padding: 10px 50px;
  font-size: 1.2em;
}
  
#email {
  margin-top: 10px; 
  width: 200px; 
  height: 15px;
}
  
#submit_button { 
  background: black;
  opacity: 0.5;
  border-radius: 10px;
  max-height: 5vh;
  max-width: 30vw;
  margin-top: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
}
    
#submit_button:hover {
  opacity: 0.8;
}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
  body {
    margin: 0px 4vw 0px 4vw;
  }
  
  .side_nav {
    display: none;
  }
     
  .top_nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
      
  .nav-top {
    height: 20px;
  }
      
  .nav {
    padding: 10px 0px 10px 0px;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;  
  }
    
  .title {
    text-decoration: none;
    width: 12vw;
    height: 4vh;
  }
      
  .nav-right {
    margin-top: 10px;
    float: right;
  } 
      
  .nav-right a {
    border-right: 1px solid black;
    display: inline;
    text-decoration: none;
    font-weight: lighter;
    max-width: 50px;
    padding: 10px;
    color: black;
  }
        
  .nav-right a.last {
   border-right: none;
  }
        
  .nav-bottom {
    height: 20px;
  }
  
  
  
  
  .bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/contact.jpg");
    background-position: center;
    background-size: cover;
    height: 30vw;
    position: relative;
  }
  
  .bg-text {
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  
  
  
  
.grid {
  grid-template-columns: 46.75vw 46.75vw;
}

.grid-item1 {
  height: 20vh;
}

.grid-item10 {
  width: 43.9vw;
}

.text {
  font-size: 1.6em;
}

.grid-item2 {
  height: 20vh;
  width: 43.9vw;
}

.text1 {
  font-size: 1.6em;
}

.grid-item3 {
  height: 20vh;
}

.grid-item30 {
  width: 43.9vw;
}

.grid-item4 {
  width: 86.6vw;
  padding: 2vw;
}

#iframe {
  height: 30vh;
}


  
  .footer-container {
    grid-gap: 0.5vw;
  }
    
  .fgrid-item {
    padding: 10px 50px;
    font-size: 1.2em;
  }
    
  #email {
    margin-top: 10px; 
    width: 200px; 
    height: 15px;
  }
    
  #submit_button { 
    background: black;
    opacity: 0.5;
    border-radius: 10px;
    max-height: 5vh;
    max-width: 30vw;
    margin-top: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: white;
  }
      
  #submit_button:hover {
    opacity: 0.8;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
}
