.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidebar a:hover {
  color: #f1f1f1;
}
  
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side_nav {
  display: grid; 
  grid-template-columns: min-content auto;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}
  
.openbtn:hover {
  background-color: white;
}

.title {
  font-family: "Century Gothic", Courier, monospace;
  font-size: 1.25em;
  text-decoration: none;
  padding-left: 10px;
}

.top_nav {
  display: none;
}




.container {
  position: relative;
  background-image: url("images/Desk_Pad.jpg");
  background-size: cover;
  margin-top: 1vh;
  height: 50vw;
}

.maintext {
  position: absolute;
  height: min-content;
  width: max-content;
  padding: 1vw;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.font1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.7em;
}
  
.font2 {
  text-align: center;
  font-family: 'courgette';
  font-weight: medium;
  font-size: 0.9em;
}
  
a.shop_now {
  text-decoration: none;
  display: inline-block;
  padding: 0.5vh;
  font-size: 0.7em;
}
  
a.shop_now:hover {
  background-image: linear-gradient(white,wheat);
}




.shop-grid1 {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
  
.shop-grid1 > div {
  text-align: center;
  font-size: 1em;
}
  
.item1 {
  position: relative;
}

.sg1_img {
  width: 43vw;
}

.shoptext {
  position: absolute;
  font-size: 0.7em;
  font-family: monospace;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -20%);
}
  
.maintext2 {
  font-family: sans-serif; 
  font-size: 1em;
}
  
.item2 {
  position: relative;
}




.shop-grid2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 1vw;
}

.shop-grid2 > div {
  text-align: center;
  font-size: 0.7em;
  width: fit-content;
}
 
.sg2_img {
  width: 24vw;
}




.footer-container {
  background: linear-gradient(to bottom right, #006FFF, #00E5E5, #0BFF96);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.25vw;
  justify-content: center;
}

.fgrid-item {
  color:rgba(35, 81, 180, 1);
  padding: 1vw 2vh;
  font-size: 0.7em;
  text-align: center;
}

#email {
  margin-top: 1vh; 
  width: 25vw; 
  height: 1.5vh;
}

#submit_button { 
  font-size: 0.7em;
  background: black;
  border-radius: 10px;
  max-width: 30vw;
  margin-top: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
}








/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {

body {
  margin: 0px 5vw 0px 5vw;
}
  
.side_nav {
  display: none;
}
  
.top_nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.nav-top {
  height: 20px;
}
  
.nav {
  padding: 10px 0px 10px 0px;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;  
}

.title {
  text-decoration: none;
  width: 12vw;
  height: 4vh;
}
  
.nav-right {
  margin-top: 10px;
  float: right;
} 
  
.nav-right a {
  border-right: 1px solid black;
  display: inline;
  text-decoration: none;
  font-weight: lighter;
  max-width: 50px;
  padding: 10px;
  color: black;
}
    
.nav-right a.last {
 border-right: none;
}
    
.nav-bottom {
  height: 20px;
}
  
  
  
  
.maintext {
  height: max-content;
  padding: 20px;
  background-color: white;
}
  
.font1 {
  font: normal normal normal 22px/1.4em futura-lt-w01-book,sans-serif;
}
 
.font2 {
  font: normal normal normal 30px/1.4em futura-lt-w01-book,sans-serif;
}
  
a.shop_now {
  padding: 10px;
  font-size: 1.2em;
}
  
  
  
  
.shop-grid1 > div {
  font-size: 1.12em;
}
  
.sg1_img {
  width: 43vw;
}

.shoptext {
  font-size: 1.3em;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
  
.maintext2 {
  font-size: 1.3em;
}
  

  
  
.shop-grid2 {
  grid-gap: 2vw;
}
  
.shop-grid2 > div {
  font-size: 0.9em;
  width: max-content;
}
  
.sg2_img {
  width: 24vw;
}
  
  
  

.footer-container {
  grid-gap: 0.5vw;
}
  
.fgrid-item {
  padding: 10px 50px;
  font-size: 1.2em;
}
  
#email {
  margin-top: 10px; 
  width: 200px; 
  height: 15px;
}
  
#submit_button { 
  background: black;
  opacity: 0.5;
  border-radius: 10px;
  max-height: 5vh;
  max-width: 30vw;
  margin-top: 1vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  color: white;
}
    
#submit_button:hover {
  opacity: 0.8;
}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {

  body {
    margin: 0px 4vw 0px 4vw;
  }
  
  .side_nav {
    display: none;
  }
    
  .top_nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    
  .nav-top {
    height: 20px;
  }
    
  .nav {
    padding: 10px 0px 10px 0px;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;  
  }
  
  .title {
    text-decoration: none;
    width: 12vw;
    height: 4vh;
  }
    
  .nav-right {
    margin-top: 10px;
    float: right;
  } 
    
  .nav-right a {
    border-right: 1px solid black;
    display: inline;
    text-decoration: none;
    font-weight: lighter;
    max-width: 50px;
    padding: 10px;
    color: black;
  }
    
  .nav-right a.last {
    border-right: none;
  }
    
  .nav-bottom {
    height: 20px;
  }
  
  
  
  
  .container {
    position: relative;
    background-image: url("images/Desk_Pad.jpg");
    height: 50vw;
  }
  
  .maintext {
    position: absolute;
    height: max-content;
    width: max-content;
    padding: 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .font1 {
    text-align: center;
    font: normal normal normal 22px/1.4em futura-lt-w01-book,sans-serif;
  }
  
  .font2 {
    font: normal normal normal 30px/1.4em futura-lt-w01-book,sans-serif;
  }
  
  a.shop_now {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
  }
  
  a.shop_now:hover {
    background-image: linear-gradient(white,wheat);
  }
  
  
  
  
  .shop-grid1 {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }
  
  .shop-grid1 > div {
    font-size: 1.12em;
  }
  
  .item1 {
    position: relative;
  }

.sg1_img {
  width: 43vw;
}

  .shoptext {
    position: absolute;
    font-size: 1.3em;
    font-family: monospace;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
  
  .maintext2 {
    font-family: sans-serif; 
    font-size: 1.3em;
  }
  
  .item2 {
    position: relative;
  }
  
  
  
  
  .shop-grid2 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 2vw;
  }
  
  .shop-grid2 > div {
    text-align: center;
    font-size: 0.9em;
    width: max-content;
  }
  
  .sg2_img {
    width: 28vw;
  }
  
  
  
  .footer-container {
    grid-gap: 0.5vw;
    margin: 0px;
  }
  
  .fgrid-item {
    color:rgba(35, 81, 180, 1);
    padding: 10px 50px;
    font-size: 1.2em;
    text-align: center;
  }
  
  #email {
    margin-top: 10px; 
    width: 200px; 
    height: 15px;
  }
  
  #submit_button { 
    background: black;
    opacity: 0.5;
    border-radius: 10px;
    max-height: 5vh;
    max-width: 30vw;
    margin-top: 1vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    color: white;
  }
      
  #submit_button:hover {
    opacity: 0.8;
  }
 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}
