.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidebar a:hover {
  color: #f1f1f1;
}
  
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(156, 156, 156);
  color: white;
  padding: 10px 15px;
  border: none;
}
  
.openbtn:hover {
  background-color: #444;
}

.title {
  font-family: "Century Gothic", Courier, monospace;
  font-size: 20px;
  text-decoration: none;
  display: grid;
  grid-template-columns: min-content auto;
}




.container {
    position: relative;
    background-image: url("images/Desk_Pad.jpg");
    background-size: cover;
    height: 50vw;
}

.maintext {
    position: absolute;
    height: max-content;
    width: max-content;
    padding: 20px;
    background-color: white;
    top: 32%;
    left: 36%;
  }
  
.font1 {
    text-align: center;
    font: normal normal normal 22px/1.4em futura-lt-w01-book,sans-serif;
}
  
.font2 {
    font: normal normal normal 30px/1.4em futura-lt-w01-book,sans-serif;
}
  
a.shop_now {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
  
a.shop_now:hover {
    background-image: linear-gradient(white,wheat);
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
}
